In [1]:
import pandas as pd
import numpy as np

In [2]:
Codeup_Data_Science = ['Bayes',]
print(Codeup_Data_Science[0]+ ' Cohort')

Bayes Cohort

# FizzBuzz

In [3]:
# Fizz Buzz Function
def fizzbuzz():    
    for number in range(1, 101):
        if number % 5 == 0 & number % 3 == 0:
            print('FizzBuzz')
        elif number % 5 == 0:
            print('Buzz')
        elif number % 3 == 0:
            print('Fizz')
        else:
            print(number)
            
fizzbuzz()

1
2
Fizz
4
FizzBuzz
Fizz
7
8
Fizz
FizzBuzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
FizzBuzz
Fizz
22
23
Fizz
FizzBuzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
FizzBuzz
Fizz
37
38
Fizz
FizzBuzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
FizzBuzz
Fizz
52
53
Fizz
FizzBuzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
FizzBuzz
Fizz
67
68
Fizz
FizzBuzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
FizzBuzz
Fizz
82
83
Fizz
FizzBuzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
FizzBuzz
Fizz
97
98
Fizz
FizzBuzz

# Fibonacci

In [3]:
# Fibonacci Sequence
# a, b = 0, 1
a = 0
b = 1

for i in range(0,10):
    print(a)
    a, b = b, a + b
#     a = b
#     b = a + b

0
1
1
2
3
5
8
13
21
34

In [34]:
# find the nth fibonacci number.  Finds it recursively
def fib(n):
    if n==1 or n==2:
        result = 1
    else:
        result = fib(n-1) + fib(n-2)
    return result

In [ ]:
# %timeit fib(35)

In [ ]:
# %timeit fib(40)

In [ ]:
# %timeit fib(1000)

In [4]:
# refactored memoized solution for big O notation of 1
def fib_2(n, memo):
    if memo[n] != None:
        return memo[n]
    elif n==0:
        result=0
    elif n==1 or n==2:
        result=1
    else:
        result = fib_2(n-1, memo) + fib_2(n-2, memo)
    memo[n] = result
    return result

def fib_memo(n):
    memo = [None] * (n + 1)
    return fib_2(n, memo)

In [299]:
%timeit fib_memo(35)

16.6 µs ± 2.27 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [300]:
%timeit fib_memo(100)

60.5 µs ± 12.3 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [301]:
%timeit fib_memo(1000)

468 µs ± 12.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [5]:
# refactored with bottom up approach
def fibonacci_bottom_up(n):
    if n==0:
        return 0
    elif n==1 or n==2:
        return 1
    bottom_up = [None] * (n+1)
    bottom_up[1] = 1
    bottom_up[2] = 1
    for i in range(3, n+1):
        bottom_up[i] = bottom_up[i-1] + bottom_up[i-2]
    return bottom_up[n]

In [286]:
%timeit fibonacci_bottom_up(35)

4.86 µs ± 318 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [287]:
%timeit fibonacci_bottom_up(100)

13.4 µs ± 712 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [288]:
%timeit fibonacci_bottom_up(1000)

190 µs ± 13.6 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

# While loops

In [6]:

# while loop example
%timeit i = 1
while i <=10:
    print(i)
    i += 1

18.3 ns ± 0.535 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)
9
10

# Conditionals

In [27]:
# conditionals
def number_comparison(a,b):
    if a < b:
        print("{} is less than {}".format(a,b))
    elif a == b:
        print("{} is equal to {}".format(a,b))
    else:
        print("{} is greater than {}".format(a,b))

In [31]:
number_comparison(3,2)

3 is greater than 2

# Use OS and GLOB libraries

In [36]:
# goes into given directory and prints out given file type

import os, glob

os.chdir('/Users/jiffy/Downloads')
for file in glob.glob('*.pdf'):
    print(file)

algebra-ii-m4-topic-c-lesson-12-teacher.pdf
Preparing for Data Science Interviews - Towards Data Science.pdf
Jeff Hutchins Resume dec 2019.pdf
Jury Duty Letter for Jeffrey Hutchins.pdf
Data Science 1x1 - Bayes Cohort (1).pdf
Justin Tobler - USAA.pdf
Jeff Hutchins Resume.pdf
How to Succeed at Codeup - Data Science.pdf
Business Cards.pdf
honeywellmonthlyenergyreportexamplepdf.pdf
Jeff_Hutchins_pdf_Resume.pdf
Jeff Hutchins - Resume.pdf
Jeff Hutchins Resume 2019.pdf

# For loops

In [82]:
# Lists
my_list = [10,20,30,40,50]

for i in my_list:
    print(i)

10
20
30
40
50

In [84]:
my_tup = (1,2,3,4,5,6,7,8,9,10)
for i in my_tup:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
my_dict = {'name': 'Bronx', 'age': '2', 'occupation': "Corey's Dog"}
for key,val in my_dict.items():
    print(key, val)

name Bronx
age 2
occupation Corey's Dog

In [8]:
list(my_dict.items())

[('name', 'Bronx'), ('age', '2'), ('occupation', "Corey's Dog")]

In [9]:
my_dict.items()

dict_items([('name', 'Bronx'), ('age', '2'), ('occupation', "Corey's Dog")])

In [11]:
my_dict.keys()

dict_keys(['name', 'age', 'occupation'])

In [12]:
my_dict.values()

dict_values(['Bronx', '2', "Corey's Dog"])

In [94]:
my_set = {10,20,30,40,50,10,20,30,40,50}
for i in my_set:
    print(i)

40
10
50
20
30

# List Comprehensions

In [99]:
# List Comprehension
# give me a list that is the square of a number of each number less than or equal to 5 in the original list 
my_list = [1,2,3,4,5,6,7,8,9,10]

squares = [number*number for number in my_list if number <= 5]
print(squares)

[1, 4, 9, 16, 25]

In [121]:
# Generators

def fibonacci(number):
# Fibonacci Sequence
    a, b = 0, 1

    for i in range(0, number):
        yield "{}: {}".format(i+1, a)
        a,b =b, a+b
        
for item in fibonacci(10):
    print(item)

1: 0
2: 1
3: 1
4: 2
5: 3
6: 5
7: 8
8: 13
9: 21
10: 34

In [235]:
# more list comprehensions

my_list = [number*number for number in [1,2,3,4,5]]
my_list

[1, 4, 9, 16, 25]

# Classes

In [149]:
# Classes

class person(object):
    def __init__(self, name):
        self.name = name

    def reveal_identity(self):
        print("My name is {}".format(self.name))
          
# class super_hero(person):

In [145]:
corey = person('corey')

In [146]:
corey.reveal_identity()

My name is corey

In [1]:
# From CodeUp Curriculum Advanced Section
class Person:
    # a special method that is called when an object is created
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def getinfo(self):
        return '{} is {} years old!'.format(self.name, self.age)
    def getolder(self):
        self.age += 1

bob1 = Person('Bob Slydell', 43)
bob2 = Person('Bob Porter', 41)

print(bob1.getinfo())
print(bob2.getinfo())

print('\nAging...\n')
bob1.getolder()
bob2.getolder()

print(bob1.getinfo())
print(bob2.getinfo())

Bob Slydell is 43 years old!
Bob Porter is 41 years old!

Aging...

Bob Slydell is 44 years old!
Bob Porter is 42 years old!

# Enumerate

In [161]:
# how to use enumerate

cities = ['Marseille', 'Amsterdam', 'New York', 'London']

# i = 0 
# for city in cities:
#     print(i, city)
#     i += 1
    
for i, city in enumerate(cities):
    print(i, city)

0 Marseille
1 Amsterdam
2 New York
3 London

# Zip - iterate over two lists in parallel

In [13]:
# loop through both lists at the same time

x_list = [1,2,3]
y_list = [2,4,6]

# for i in range(len(x_list)):
#     x = x_list[i]
#     y = y_list[i]
#     print(x,y)
    
for x, y in zip(x_list, y_list):
    print(x,y)

1 2
2 4
3 6

In [14]:
# enumerate with zip
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a,b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

# Lambda Functions

In [184]:
# lambdas

scifi_authors = ['Isaac Asimov', 'Ray Bradbury', 'Robert Heinlein', 'Arthur C. Clarke', 'Frank Herbert', 'Orson Scott Card', 'Douglas Adams', 'H. G. Wells', 'Leigh Brackett']

# help(scifi_authors.sort)
scifi_authors.sort(key=lambda name: name.split(" ")[-1].lower())
scifi_authors

['Douglas Adams',
 'Isaac Asimov',
 'Leigh Brackett',
 'Ray Bradbury',
 'Orson Scott Card',
 'Arthur C. Clarke',
 'Robert Heinlein',
 'Frank Herbert',
 'H. G. Wells']

In [195]:
for name in scifi_authors:
    print(name.split(" "))

['Douglas', 'Adams']
['Isaac', 'Asimov']
['Leigh', 'Brackett']
['Ray', 'Bradbury']
['Orson', 'Scott', 'Card']
['Arthur', 'C.', 'Clarke']
['Robert', 'Heinlein']
['Frank', 'Herbert']
['H.', 'G.', 'Wells']

In [217]:
list_of_dicts = [{ "name" : "Nandini", "age" : 20},  
{ "name" : "Manjeet", "age" : 20 }, 
{ "name" : "Nikhil" , "age" : 19 }]

In [226]:
list_of_dicts.sort(key=lambda x: (x['age'], x['name']))
list_of_dicts

[{'name': 'Nikhil', 'age': 19},
 {'name': 'Manjeet', 'age': 20},
 {'name': 'Nandini', 'age': 20}]

In [4]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
[(x, x**2) for x in range(10)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [19]:
numbers = [1,2,3,4]
[num**2 for num in numbers]

[1, 4, 9, 16]

In [6]:
numbers = (1,2,3,4)
list(map(lambda x: x + x, numbers))

[2, 4, 6, 8]

In [10]:
# flatten a list using a list comprehension with two 'for loops'
vec = [[1,2,3], [4,5,6], [7,8,9]]

[number for element in vec for number in element]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Sorting

In [234]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [231]:
earth_metals = ['Beryllium', 'Magnesium', 'Calcium', 'Strontium', 'Barium', 'Radium']

earth_metals.sort(reverse=True)

In [232]:
earth_metals

['Strontium', 'Radium', 'Magnesium', 'Calcium', 'Beryllium', 'Barium']

#### More sorting

In [236]:
L = ["oranges", "apples", "bananas"]
L.sort()
L
['apples', 'bananas', 'oranges']

['apples', 'bananas', 'oranges']

In [237]:
L = ["oranges", "apples", "bananas"]
sorted(L, reverse = True)
['oranges', 'bananas', 'apples']

['oranges', 'bananas', 'apples']

In [238]:
L = ["oranges", "apples", "Bananas"]
L.sort()
L
['Bananas', 'apples', 'oranges']

['Bananas', 'apples', 'oranges']

In [239]:
L = ["oranges", "apples", "Bananas"]
L.sort(key=str.lower)
L
['apples', 'Bananas', 'oranges']

['apples', 'Bananas', 'oranges']

In [241]:
(2, 4) < (4, 1) 
True

True

In [242]:
(2, 4) < (2, 6)
True

True

In [243]:
sorted([(5, 4), (3, 3), (3, 10)])
[(3, 3), (3, 10), (5, 4)]

[(3, 3), (3, 10), (5, 4)]

In [255]:
def custom_sort(t):
    return t[1]

L = [("Alice", 25), ("Bob", 20), ("Alex", 5)]
# L.sort(key=custom_sort)
print(L)

[('Alice', 25), ('Bob', 20), ('Alex', 5)]

In [25]:
L = [("Alice", 25), ("Bob", 20), ("Alex", 5)]
L.sort(key=lambda x: x[1])
print(L)

[('Alex', 5), ('Bob', 20), ('Alice', 25)]

In [265]:
class User:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [268]:
Bob = User('Bob', 20)
Alice = User('Alice', 30)
Leo = User('Leo', 15)
L = [Bob, Alice, Leo]

In [248]:
L.sort(key=lambda x: x.name)
print([item.name for item in L])

['Alice', 'Bob', 'Leo']

In [249]:
L.sort(key=lambda x: x.age)
print([item.name for item in L])

['Leo', 'Bob', 'Alice']

In [286]:
for item in L:
    print(item)

<__main__.User object at 0x11b53d2b0>
<__main__.User object at 0x11b53d780>
<__main__.User object at 0x11b53d0b8>

In [289]:
# format := (name, radius, density, distance from the Sun)

# Radius: Radius at equator in kilometers
# Density:

planets = [
    ("Mercury", 2440, 5.43, 0.395),
    ("Venus", 6052, 5.24, 0.723),
    ("Earth", 6378, 5.52, 1.000),
    ("Mars", 3396, 3.93, 1.530),
    ("Jupiter", 71492, 1.33, 5.210),
    ("Saturn", 60268, 0.69, 9.551),
    ("Uranus", 25559, 1.27, 19.213),
    ("Neptune", 24764, 1.64, 30.070)
]

In [302]:
# Can order planets by name, radius, density, or distance from the sun by changing the index number.

planets.sort(key=lambda x: x[0],reverse=True)
planets

[('Venus', 6052, 5.24, 0.723),
 ('Uranus', 25559, 1.27, 19.213),
 ('Saturn', 60268, 0.69, 9.551),
 ('Neptune', 24764, 1.64, 30.07),
 ('Mercury', 2440, 5.43, 0.395),
 ('Mars', 3396, 3.93, 1.53),
 ('Jupiter', 71492, 1.33, 5.21),
 ('Earth', 6378, 5.52, 1.0)]

In [304]:
# can use variables to hold the lambdas

name = lambda x: x[0]
size = lambda x: x[1]
density = lambda x: x[2]
distance_from_sun = lambda x: x[3]

In [313]:
planets.sort(key=density, reverse=True)
planets

[('Earth', 6378, 5.52, 1.0),
 ('Mercury', 2440, 5.43, 0.395),
 ('Venus', 6052, 5.24, 0.723),
 ('Mars', 3396, 3.93, 1.53),
 ('Neptune', 24764, 1.64, 30.07),
 ('Jupiter', 71492, 1.33, 5.21),
 ('Uranus', 25559, 1.27, 19.213),
 ('Saturn', 60268, 0.69, 9.551)]

### Difference between sort and sorted.  Sort changes the list while sorted makes a copy of the list.  So if you want to change a tuple, the use sorted.  It leaves the original tuple unaltered and will give you a changed copy.

In [314]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [27]:
earth_metals = ['Beryllium', 'Magnesium', 'Calcium', 'Strontium', 'Barium', 'Radium']

sorted_earth_metals = sorted

In [28]:
earth_metals

['Beryllium', 'Magnesium', 'Calcium', 'Strontium', 'Barium', 'Radium']

In [29]:
sorted(earth_metals)

['Barium', 'Beryllium', 'Calcium', 'Magnesium', 'Radium', 'Strontium']

In [323]:
sorted("Alphabetical")

['A', 'a', 'a', 'b', 'c', 'e', 'h', 'i', 'l', 'l', 'p', 't']

In [324]:
help(repr)

Help on built-in function repr in module builtins:

repr(obj, /)
    Return the canonical string representation of the object.

    For many object types, including most builtins, eval(repr(obj)) == obj.

In [325]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace remove.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

# Big O Notation and time complexity
How does the runtime of this function grow as the size of the input grows?

In [2]:
given_array = [1,4,3,2,5,7,6,9,8,10]

In [11]:
def find_sum(given_array):
    total = 0
    for i in given_array:
        total += i
    return total

In [12]:
find_sum(given_array=given_array)

55

## F Strings

In [1]:
first_name = 'Jeff'
last_name = 'Hutchins'

In [7]:
sentence = f'My name is {first_name.upper()} {last_name.lower()}'
sentence

'My name is JEFF hutchins'

In [9]:
person = {'name': 'Jeff', 'age': 36}

In [12]:
sentence = f'My name is {person["name"]} and I am {person["age"]}'
sentence

'My name is Jeff and I am 36'

In [14]:
calculation = f'4 times 11 is equal to {4*11}'
calculation

'4 times 11 is equal to 44'

In [17]:
# zero padding in formatted string
for n in range(1, 11):
    sentence = f'The value is {n:04}'
    print(sentence)

The value is 0001
The value is 0002
The value is 0003
The value is 0004
The value is 0005
The value is 0006
The value is 0007
The value is 0008
The value is 0009
The value is 0010

In [18]:
# rounding number in formatted string
pi = 3.14159265
sentence = f'Pi is equal to {pi:.4f}'
print(sentence)

Pi is equal to 3.1416

In [19]:
from datetime import datetime

In [23]:
# datetime formatting with formatted string
birthday = datetime(1990, 1, 1)

sentence = f'Jenn has a birthday on {birthday:%B %d, %Y}'
print(sentence)

Jenn has a birthday on January 01, 1990

In [27]:
type(birthday)

datetime.datetime

## Regular Expressions, Hurray!!

In [81]:
import re

re.finditer method shows all the matches and their locations

re.findall method returns all the matches into a list

In [82]:
text_to_search = '''
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890

Ha HaHa

MetaCharacters (Need to be escaped):
. ^ $ * + ? { } [ ] \ | ( )

coreyms.com

321-555-4321
123.555.1234
123*555*1234
800-555-1234
900-555-1234


Mr. Schafer
Mr Smith
Ms Davis
Mrs. Robinson
Mr. T

cat
mat
pat
bat

'''

In [83]:
sentence = 'Start a sentence and then bring it to an end'

In [84]:
print('\tTab')

	Tab

In [85]:
print(r'\tTab')

\tTab

In [86]:
print(f'\tTab')

	Tab

In [87]:
re.findall('\d', text_to_search)

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '0',
 '3',
 '2',
 '1',
 '5',
 '5',
 '5',
 '4',
 '3',
 '2',
 '1',
 '1',
 '2',
 '3',
 '5',
 '5',
 '5',
 '1',
 '2',
 '3',
 '4',
 '1',
 '2',
 '3',
 '5',
 '5',
 '5',
 '1',
 '2',
 '3',
 '4',
 '8',
 '0',
 '0',
 '5',
 '5',
 '5',
 '1',
 '2',
 '3',
 '4',
 '9',
 '0',
 '0',
 '5',
 '5',
 '5',
 '1',
 '2',
 '3',
 '4']

In [88]:
# also accomplishes the same task as below

# matches = re.compile(r'\d{3}.\d{3}.\d{4}').finditer(text_to_search)

In [89]:
pattern = re.compile(r'M(r|s|rs)\.?\s[A-Z]\w*')

In [90]:
matches = pattern.finditer(text_to_search)

In [91]:
# print out all of the matches
for match in matches:
    print(match)

<re.Match object; span=(222, 233), match='Mr. Schafer'>
<re.Match object; span=(234, 242), match='Mr Smith'>
<re.Match object; span=(243, 251), match='Ms Davis'>
<re.Match object; span=(252, 265), match='Mrs. Robinson'>
<re.Match object; span=(266, 271), match='Mr. T'>

In [92]:
# found 1 match of 'abc' and found it in our alphabet 
# on index (1,4)
print(text_to_search[142:153])

coreyms.com

In [93]:
# anchors - match invisible positions before or after characters
pattern = re.compile(r'[^b]at')

In [94]:
matches = pattern.finditer(text_to_search)

In [95]:
# [match for match in matches]

In [96]:
# print out all of the matches
for match in matches:
    print(match)

<re.Match object; span=(273, 276), match='cat'>
<re.Match object; span=(277, 280), match='mat'>
<re.Match object; span=(281, 284), match='pat'>

In [97]:
print(text_to_search[194:206])
print(text_to_search[207:219])

800-555-1234
900-555-1234

In [98]:
# anchors - match invisible positions before or after characters
pattern = re.compile(r'[89]00[-.]\d\d\d[-.]\d\d\d\d')

In [99]:
# open a txt file and read out all the phone numbers
with open('data.txt', 'r', encoding = 'utf-8') as f:
    contents = f.read()
    
    matches = pattern.finditer(contents)
    
    # print out all of the matches
    for match in matches:
        print(match)

<re.Match object; span=(102, 114), match='800-555-5669'>
<re.Match object; span=(281, 293), match='900-555-9340'>
<re.Match object; span=(467, 479), match='800-555-6771'>
<re.Match object; span=(1091, 1103), match='900-555-3205'>
<re.Match object; span=(1439, 1451), match='800-555-6089'>
<re.Match object; span=(1790, 1802), match='800-555-7100'>
<re.Match object; span=(2051, 2063), match='900-555-5118'>
<re.Match object; span=(2826, 2838), match='900-555-5428'>
<re.Match object; span=(3284, 3296), match='800-555-8810'>
<re.Match object; span=(3971, 3983), match='900-555-9598'>
<re.Match object; span=(4945, 4957), match='800-555-2420'>
<re.Match object; span=(5566, 5578), match='900-555-3567'>
<re.Match object; span=(6189, 6201), match='800-555-3216'>
<re.Match object; span=(6889, 6901), match='900-555-7755'>
<re.Match object; span=(7864, 7876), match='800-555-1372'>
<re.Match object; span=(8741, 8753), match='900-555-6426'>

In [100]:
for group in contents.split('\n'):
    print(group)

Dave Martin
615-555-7164
173 Main St., Springfield RI 55924
davemartin@bogusemail.com

Charles Harris
800-555-5669
969 High St., Atlantis VA 34075
charlesharris@bogusemail.com

Eric Williams
560-555-5153
806 1st St., Faketown AK 86847
laurawilliams@bogusemail.com

Corey Jefferson
900-555-9340
826 Elm St., Epicburg NE 10671
coreyjefferson@bogusemail.com

Jennifer Martin-White
714-555-7405
212 Cedar St., Sunnydale CT 74983
jenniferwhite@bogusemail.com

Erick Davis
800-555-6771
519 Washington St., Olympus TN 32425
tomdavis@bogusemail.com

Neil Patterson
783-555-4799
625 Oak St., Dawnstar IL 61914
neilpatterson@bogusemail.com

Laura Jefferson
516-555-4615
890 Main St., Pythonville LA 29947
laurajefferson@bogusemail.com

Maria Johnson
127-555-1867
884 High St., Braavos‎ ME 43597
mariajohnson@bogusemail.com

Michael Arnold
608-555-4938
249 Elm St., Quahog OR 90938
michaelarnold@bogusemail.com

Michael Smith
568-555-6051
619 Park St., Winterfell VA 99000
michaelsmith@bogusemail.com

Erik Stuart
292-555-1875
220 Cedar St., Lakeview NY 87282
robertstuart@bogusemail.com

Laura Martin
900-555-3205
391 High St., Smalltown WY 28362
lauramartin@bogusemail.com

Barbara Martin
614-555-1166
121 Hill St., Braavos‎ UT 92474
barbaramartin@bogusemail.com

Linda Jackson
530-555-2676
433 Elm St., Westworld TX 61967
lindajackson@bogusemail.com

Eric Miller
470-555-2750
838 Main St., Balmora MT 56526
stevemiller@bogusemail.com

Dave Arnold
800-555-6089
732 High St., Valyria KY 97152
davearnold@bogusemail.com

Jennifer Jacobs
880-555-8319
217 High St., Old-town IA 82767
jenniferjacobs@bogusemail.com

Neil Wilson
777-555-8378
191 Main St., Mordor IL 72160
neilwilson@bogusemail.com

Kurt Jackson
998-555-7385
607 Washington St., Blackwater NH 97183
kurtjackson@bogusemail.com

Mary Jacobs
800-555-7100
478 Oak St., Bedrock IA 58176
maryjacobs@bogusemail.com

Michael White
903-555-8277
906 Elm St., Mordor TX 89212
michaelwhite@bogusemail.com

Jennifer Jenkins
196-555-5674
949 Main St., Smalltown SC 96962
jenniferjenkins@bogusemail.com

Sam Wright
900-555-5118
835 Pearl St., Smalltown ND 77737
samwright@bogusemail.com

John Davis
905-555-1630
451 Lake St., Bedrock GA 34615
johndavis@bogusemail.com

Eric Davis
203-555-3475
419 Lake St., Balmora OR 30826
neildavis@bogusemail.com

Laura Jackson
884-555-8444
443 Maple St., Quahog MS 29348
laurajackson@bogusemail.com

John Williams
904-555-8559
756 Hill St., Valyria KY 94854
johnwilliams@bogusemail.com

Michael Martin
889-555-7393
216 High St., Olympus NV 21888
michaelmartin@bogusemail.com

Maggie Brown
195-555-2405
806 Lake St., Lakeview MD 59348
maggiebrown@bogusemail.com

Erik Wilson
321-555-9053
354 Hill St., Mordor FL 74122
kurtwilson@bogusemail.com

Elizabeth Arnold
133-555-1711
805 Maple St., Winterfell NV 99431
elizabetharnold@bogusemail.com

Jane Martin
900-555-5428
418 Park St., Metropolis ID 16576
janemartin@bogusemail.com

Travis Johnson
760-555-7147
749 Washington St., Braavos‎ SD 25668
travisjohnson@bogusemail.com

Laura Jefferson
391-555-6621
122 High St., Metropolis ME 29540
laurajefferson@bogusemail.com

Tom Williams
932-555-7724
610 High St., Old-town FL 60758
tomwilliams@bogusemail.com

Jennifer Taylor
609-555-7908
332 Main St., Pythonville OH 78172
jennifertaylor@bogusemail.com

Erick Wright
800-555-8810
858 Hill St., Blackwater NC 79714
jenniferwright@bogusemail.com

Steve Doe
149-555-7657
441 Elm St., Atlantis MS 87195
stevedoe@bogusemail.com

Kurt Davis
130-555-9709
404 Oak St., Atlantis ND 85386
kurtdavis@bogusemail.com

Corey Harris
143-555-9295
286 Pearl St., Vice City TX 57112
coreyharris@bogusemail.com

Nicole Taylor
903-555-9878
465 Hill St., Old-town LA 64102
nicoletaylor@bogusemail.com

Elizabeth Davis
574-555-3194
151 Lake St., Eerie SD 17880
elizabethdavis@bogusemail.com

Maggie Jenkins
496-555-7533
504 Lake St., Gotham PA 46692
maggiejenkins@bogusemail.com

Linda Davis
210-555-3757
201 Pine St., Vice City AR 78455
lindadavis@bogusemail.com

Dave Moore
900-555-9598
251 Pine St., Old-town OK 29087
davemoore@bogusemail.com

Linda Jenkins
866-555-9844
117 High St., Bedrock NE 11899
lindajenkins@bogusemail.com

Eric White
669-555-7159
650 Oak St., Smalltown TN 43281
samwhite@bogusemail.com

Laura Robinson
152-555-7417
377 Pine St., Valyria NC 78036
laurarobinson@bogusemail.com

Charles Patterson
893-555-9832
416 Pearl St., Valyria AK 62260
charlespatterson@bogusemail.com

Joe Jackson
217-555-7123
683 Cedar St., South Park KS 66724
joejackson@bogusemail.com

Michael Johnson
786-555-6544
288 Hill St., Smalltown AZ 18586
michaeljohnson@bogusemail.com

Corey Miller
780-555-2574
286 High St., Springfield IA 16272
coreymiller@bogusemail.com

James Moore
926-555-8735
278 Main St., Gotham KY 89569
jamesmoore@bogusemail.com

Jennifer Stuart
895-555-3539
766 Hill St., King's Landing GA 54999
jenniferstuart@bogusemail.com

Charles Martin
874-555-3949
775 High St., Faketown PA 89260
charlesmartin@bogusemail.com

Eric Wilks
800-555-2420
885 Main St., Blackwater OH 61275
joewilks@bogusemail.com

Elizabeth Arnold
936-555-6340
528 Hill St., Atlantis NH 88289
elizabetharnold@bogusemail.com

John Miller
372-555-9809
117 Cedar St., Thundera NM 75205
johnmiller@bogusemail.com

Corey Jackson
890-555-5618
115 Oak St., Gotham UT 36433
coreyjackson@bogusemail.com

Sam Thomas
670-555-3005
743 Lake St., Springfield MS 25473
samthomas@bogusemail.com

Patricia Thomas
509-555-5997
381 Hill St., Blackwater CT 30958
patriciathomas@bogusemail.com

Jennifer Davis
721-555-5632
125 Main St., Smalltown MT 62155
jenniferdavis@bogusemail.com

Patricia Brown
900-555-3567
292 Hill St., Gotham WV 57680
patriciabrown@bogusemail.com

Barbara Williams
147-555-6830
514 Park St., Balmora NV 55462
barbarawilliams@bogusemail.com

James Taylor
582-555-3426
776 Hill St., Dawnstar MA 51312
jamestaylor@bogusemail.com

Eric Harris
400-555-1706
421 Elm St., Smalltown NV 72025
barbaraharris@bogusemail.com

Travis Anderson
525-555-1793
937 Cedar St., Thundera WA 78862
travisanderson@bogusemail.com

Sam Robinson
317-555-6700
417 Pine St., Lakeview MD 13147
samrobinson@bogusemail.com

Steve Robinson
974-555-8301
478 Park St., Springfield NM 92369
steverobinson@bogusemail.com

Mary Wilson
800-555-3216
708 Maple St., Braavos‎ UT 29551
marywilson@bogusemail.com

Sam Wilson
746-555-4094
557 Pearl St., Westworld KS 23225
samwilson@bogusemail.com

Charles Jones
922-555-1773
855 Hill St., Olympus HI 81427
charlesjones@bogusemail.com

Laura Brown
711-555-4427
980 Maple St., Smalltown MO 96421
laurabrown@bogusemail.com

Tom Harris
355-555-1872
676 Hill St., Blackwater AR 96698
tomharris@bogusemail.com

Patricia Taylor
852-555-6521
588 Pine St., Olympus FL 98412
patriciataylor@bogusemail.com

Barbara Williams
691-555-5773
351 Elm St., Sunnydale GA 26245
barbarawilliams@bogusemail.com

Maggie Johnson
332-555-5441
948 Cedar St., Quahog DE 56449
maggiejohnson@bogusemail.com

Kurt Miller
900-555-7755
381 Hill St., Quahog AL 97503
kurtmiller@bogusemail.com

Neil Stuart
379-555-3685
496 Cedar St., Sunnydale RI 49113
neilstuart@bogusemail.com

Linda Patterson
127-555-9682
736 Cedar St., Lakeview KY 47472
lindapatterson@bogusemail.com

Charles Davis
789-555-7032
678 Lake St., Mordor MN 11845
charlesdavis@bogusemail.com

Jennifer Jefferson
783-555-5135
289 Park St., Sunnydale WA 74526
jenniferjefferson@bogusemail.com

Erick Taylor
315-555-6507
245 Washington St., Bedrock IL 26941
coreytaylor@bogusemail.com

Robert Wilks
481-555-5835
573 Elm St., Sunnydale IL 47182
robertwilks@bogusemail.com

Travis Jackson
365-555-8287
851 Lake St., Metropolis PA 22772
travisjackson@bogusemail.com

Travis Jackson
911-555-7535
489 Oak St., Atlantis HI 73725
travisjackson@bogusemail.com

Laura Wilks
681-555-2460
371 Pearl St., Smalltown SC 47466
laurawilks@bogusemail.com

Neil Arnold
274-555-9800
504 Oak St., Faketown PA 73860
neilarnold@bogusemail.com

Linda Johnson
800-555-1372
667 High St., Balmora IN 82473
lindajohnson@bogusemail.com

Jennifer Wilson
300-555-7821
266 Pine St., Westworld DC 58720
jenniferwilson@bogusemail.com

Nicole White
133-555-3889
276 High St., Braavos‎ IL 57764
nicolewhite@bogusemail.com

Maria Arnold
705-555-6863
491 Elm St., Metropolis PA 31836
mariaarnold@bogusemail.com

Jennifer Davis
215-555-9449
859 Cedar St., Old-town MT 31169
jenniferdavis@bogusemail.com

Mary Patterson
988-555-6112
956 Park St., Valyria CT 81541
marypatterson@bogusemail.com

Jane Stuart
623-555-3006
983 Oak St., Old-town RI 15445
janestuart@bogusemail.com

Robert Davis
192-555-4977
789 Maple St., Mordor IN 22215
robertdavis@bogusemail.com

James Taylor
178-555-4899
439 Hill St., Olympus NV 39308
jamestaylor@bogusemail.com

Eric Stuart
952-555-3089
777 High St., King's Landing AZ 16547
johnstuart@bogusemail.com

Charles Miller
900-555-6426
207 Washington St., Blackwater MA 24886
charlesmiller@bogusemail.com

In [101]:
import re

emails = '''
CoreyMSchafer@gmail.com
corey.schafer@university.edu
corey-321-schafer@my-work.net
'''
# we want to match everything before and after the @ symbol.  
# character set with lower case a to lower case z 
# followed by an upper case A to lower case Z
# to match 1 or more up until the @ sign use +
# repeat for everything after the @ symbol

# pattern = re.compile(r'[a-zA-Z0-9.-]+@[a-zA-Z-]+\.(com|edu|net)')
pattern = re.compile(r'[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+')

matches = pattern.finditer(emails)

for match in matches:
    print(match)

<re.Match object; span=(1, 24), match='CoreyMSchafer@gmail.com'>
<re.Match object; span=(25, 53), match='corey.schafer@university.edu'>
<re.Match object; span=(54, 83), match='corey-321-schafer@my-work.net'>

In [102]:
import re

urls = '''
https://www.google.com
http://coreyms.com
https://youtube.com
https://www.nasa.gov
'''

pattern = re.compile(r'https?://(www\.)?(\w+)(\.\w+)')

# matches = pattern.finditer(urls)

# sub method that is used to perform a substitution
subbed_urls = pattern.sub(r'\2\3', urls)

print(subbed_urls)

# for match in matches:
#     print(match[3])

google.com
coreyms.com
youtube.com
nasa.gov

#### using re.findall method

In [103]:
import re

In [104]:
pattern = re.compile(r'\d{3}.\d{3}.\d{4}')

In [105]:
matches = pattern.findall(text_to_search)

In [106]:
# print out all of the matches
for match in matches:
    print(match)

321-555-4321
123.555.1234
123*555*1234
800-555-1234
900-555-1234

#### using flags.  IGNORECASE, VERBOSE, MULTILINE, etc

In [107]:
sentence = 'Start a sentence and then bring it to an end'

pattern = re.compile('start', re.I)

matches = pattern.finditer(sentence)

print(matches)

<callable_iterator object at 0x122af8940>

### Recursive Funciton - Factorial

In [10]:
def factorial(number):
    if number < 0:
        print('sorry, no negative factorials')
    elif number == 0 or number ==1:
        return 1
    else:
        return number * factorial(number-1)

In [9]:
factorial(8)

40320

### Palendrome
slicing and indexing a string [start:stop:step]

In [4]:
s = 'stuff'

In [5]:
s[::-1]

'ffuts'

In [18]:
def reverse(s):
    return s[::-1]

def is_palindrome(s):
    rev = reverse(s)
    
    if s == rev:
        return True
    return False
    
# Can also do it without assigning reverse() function to variable 'rev'
#     if (s == reverse(s)):
#         return True
#     return False

In [19]:
is_palindrome('malayalam')

True

### Type Annotations

Python allows us to specify the type of variables, function parameters, and function return values through type annotations.

The python language itself will not enforce type annotations, but there are several third party tools that can use the type annotations to analyze your code and detect type mismatch issues.

Apart from preventing code execution errors, type annotations are a great tool for communication about your function's api. Type annotations can clarify what should be passed in to a function and what is returned out of it.

Let's take a look at an example of using type annotations:

In [2]:
def add(x: int, y: int) -> int:
    return x + y

In [4]:
type(add(2,3))

int

Here the : int tells us the type of each function parameter, and -> int tells us the return type.

More complex types can be expressed with the classes available in the typing module. For example, we can define a function that takes in a list of floats and returns all of them rounded to the nearest whole number:

In [5]:
from typing import List

def round_all(numbers: List[float]) -> List[int]:
    return [round(n) for n in numbers]

In [10]:
round_all([1.2, 3.3, 4.5])

[1, 3, 4]

Here List specifies that the type of the numbers parameter will be a list, and with the square brakets, we can further specify the type of every element in the list.