In [1]:
import pandas as pd
import numpy as np

# FizzBuzz

In [38]:
# Fizz Buzz Function
def fizzbuzz():    
    for number in range(1, 101):
        if number % 5 == 0 & number % 3 == 0:
            print('FizzBuzz')
        elif number % 5 == 0:
            print('Buzz')
        elif number % 3 == 0:
            print('Fizz')
        else:
            print(number)
            
# fizzbuzz()

In [77]:
# %time fizzbuzz()

# Fibonacci

In [78]:
# Fibonacci Sequence
# a, b = 0, 1
a = 0
b = 1

for i in range(0,10):
    print(a)
    a, b = b, a + b
#     a = b
#     b = a + b

0
1
1
2
3
5
8
13
21
34

# While loops

In [62]:

# while loop example
%timeit i = 1
while i <=10:
    print(i)
    i += 1

13.9 ns ± 0.634 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)
9
10

# Conditionals

In [27]:
# conditionals
def number_comparison(a,b):
    if a < b:
        print("{} is less than {}".format(a,b))
    elif a == b:
        print("{} is equal to {}".format(a,b))
    else:
        print("{} is greater than {}".format(a,b))

In [31]:
number_comparison(3,2)

3 is greater than 2

# Use OS and GLOB libraries

In [36]:
# goes into given directory and prints out given file type

import os, glob

os.chdir('/Users/jiffy/Downloads')
for file in glob.glob('*.pdf'):
    print(file)

algebra-ii-m4-topic-c-lesson-12-teacher.pdf
Preparing for Data Science Interviews - Towards Data Science.pdf
Jeff Hutchins Resume dec 2019.pdf
Jury Duty Letter for Jeffrey Hutchins.pdf
Data Science 1x1 - Bayes Cohort (1).pdf
Justin Tobler - USAA.pdf
Jeff Hutchins Resume.pdf
How to Succeed at Codeup - Data Science.pdf
Business Cards.pdf
honeywellmonthlyenergyreportexamplepdf.pdf
Jeff_Hutchins_pdf_Resume.pdf
Jeff Hutchins - Resume.pdf
Jeff Hutchins Resume 2019.pdf

# For loops

In [82]:
# Lists
my_list = [10,20,30,40,50]

for i in my_list:
    print(i)

10
20
30
40
50

In [84]:
my_tup = (1,2,3,4,5,6,7,8,9,10)
for i in my_tup:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [91]:
my_dict = {'name': 'Bronx', 'age': '2', 'occupation': "Corey's Dog"}
for key,val in my_dict.items():
    print(key, val)

name Bronx
age 2
occupation Corey's Dog

In [126]:
list(my_dict.items())

[('name', 'Bronx'), ('age', '2'), ('occupation', "Corey's Dog")]

In [131]:
my_dict.items()

dict_items([('name', 'Bronx'), ('age', '2'), ('occupation', "Corey's Dog")])

In [94]:
my_set = {10,20,30,40,50,10,20,30,40,50}
for i in my_set:
    print(i)

40
10
50
20
30

# List Comprehensions

In [99]:
# List Comprehension
# give me a list that is the square of a number of each number less than or equal to 5 in the original list 
my_list = [1,2,3,4,5,6,7,8,9,10]

squares = [number*number for number in my_list if number <= 5]
print(squares)

[1, 4, 9, 16, 25]

In [121]:
# Generators

def fibonacci(number):
# Fibonacci Sequence
    a, b = 0, 1

    for i in range(0, number):
        yield "{}: {}".format(i+1, a)
        a,b =b, a+b
        
for item in fibonacci(10):
    print(item)

1: 0
2: 1
3: 1
4: 2
5: 3
6: 5
7: 8
8: 13
9: 21
10: 34

In [235]:
# more list comprehensions

my_list = [number*number for number in [1,2,3,4,5]]
my_list

[1, 4, 9, 16, 25]

# Classes

In [149]:
# Classes

class person(object):
    def __init__(self, name):
        self.name = name

    def reveal_identity(self):
        print("My name is {}".format(self.name))
          
# class super_hero(person):

In [145]:
corey = person('corey')

In [146]:
corey.reveal_identity()

My name is corey

# Enumerate

In [161]:
# how to use enumerate

cities = ['Marseille', 'Amsterdam', 'New York', 'London']

# i = 0 
# for city in cities:
#     print(i, city)
#     i += 1
    
for i, city in enumerate(cities):
    print(i, city)

0 Marseille
1 Amsterdam
2 New York
3 London

# Loop through both lists at same time

In [167]:
# loop through both lists at the same time

x_list = [1,2,3]
y_list = [2,4,6]

for i in range(len(x_list)):
    x = x_list[i]
    y = y_list[i]
    print(x,y)
    
for x, y in zip(x_list, y_list):
    print(x,y)

1 2
2 4
3 6
1 2
2 4
3 6

# Lambda Functions

In [184]:
# lambdas

scifi_authors = ['Isaac Asimov', 'Ray Bradbury', 'Robert Heinlein', 'Arthur C. Clarke', 'Frank Herbert', 'Orson Scott Card', 'Douglas Adams', 'H. G. Wells', 'Leigh Brackett']

# help(scifi_authors.sort)
scifi_authors.sort(key=lambda name: name.split(" ")[-1].lower())
scifi_authors

['Douglas Adams',
 'Isaac Asimov',
 'Leigh Brackett',
 'Ray Bradbury',
 'Orson Scott Card',
 'Arthur C. Clarke',
 'Robert Heinlein',
 'Frank Herbert',
 'H. G. Wells']

In [195]:
for name in scifi_authors:
    print(name.split(" "))

['Douglas', 'Adams']
['Isaac', 'Asimov']
['Leigh', 'Brackett']
['Ray', 'Bradbury']
['Orson', 'Scott', 'Card']
['Arthur', 'C.', 'Clarke']
['Robert', 'Heinlein']
['Frank', 'Herbert']
['H.', 'G.', 'Wells']

In [217]:
list_of_dicts = [{ "name" : "Nandini", "age" : 20},  
{ "name" : "Manjeet", "age" : 20 }, 
{ "name" : "Nikhil" , "age" : 19 }]

In [226]:
list_of_dicts.sort(key=lambda x: (x['age'], x['name']))
list_of_dicts

[{'name': 'Nikhil', 'age': 19},
 {'name': 'Manjeet', 'age': 20},
 {'name': 'Nandini', 'age': 20}]

# Sorting

In [234]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [231]:
earth_metals = ['Beryllium', 'Magnesium', 'Calcium', 'Strontium', 'Barium', 'Radium']

earth_metals.sort(reverse=True)

In [232]:
earth_metals

['Strontium', 'Radium', 'Magnesium', 'Calcium', 'Beryllium', 'Barium']

#### More sorting

In [236]:
L = ["oranges", "apples", "bananas"]
L.sort()
L
['apples', 'bananas', 'oranges']

['apples', 'bananas', 'oranges']

In [237]:
L = ["oranges", "apples", "bananas"]
sorted(L, reverse = True)
['oranges', 'bananas', 'apples']

['oranges', 'bananas', 'apples']

In [238]:
L = ["oranges", "apples", "Bananas"]
L.sort()
L
['Bananas', 'apples', 'oranges']

['Bananas', 'apples', 'oranges']

In [239]:
L = ["oranges", "apples", "Bananas"]
L.sort(key=str.lower)
L
['apples', 'Bananas', 'oranges']

['apples', 'Bananas', 'oranges']

In [241]:
(2, 4) < (4, 1) 
True

True

In [242]:
(2, 4) < (2, 6)
True

True

In [243]:
sorted([(5, 4), (3, 3), (3, 10)])
[(3, 3), (3, 10), (5, 4)]

[(3, 3), (3, 10), (5, 4)]

In [244]:
def custom_sort(t):
    return t[1]

L = [("Alice", 25), ("Bob", 20), ("Alex", 5)]
L.sort(key=custom_sort)
print(L)

[('Alex', 5), ('Bob', 20), ('Alice', 25)]

In [245]:
L = [("Alice", 25), ("Bob", 20), ("Alex", 5)]
L.sort(key=lambda x: x[1])
print(L)

[('Alex', 5), ('Bob', 20), ('Alice', 25)]

In [246]:
class User:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [247]:
Bob = User('Bob', 20)
Alice = User('Alice', 30)
Leo = User('Leo', 15)
L = [Bob, Alice, Leo]

In [248]:
L.sort(key=lambda x: x.name)
print([item.name for item in L])

['Alice', 'Bob', 'Leo']

In [249]:
L.sort(key=lambda x: x.age)
print([item.name for item in L])

['Leo', 'Bob', 'Alice']