In [1]:
import pandas as pd
import numpy as np

In [38]:
# Fizz Buzz Function
def fizzbuzz():    
    for number in range(1, 101):
        if number % 5 == 0 & number % 3 == 0:
            print('FizzBuzz')
        elif number % 5 == 0:
            print('Buzz')
        elif number % 3 == 0:
            print('Fizz')
        else:
            print(number)
            
# fizzbuzz()

In [77]:
# %time fizzbuzz()

In [78]:
# Fibonacci Sequence
# a, b = 0, 1
a = 0
b = 1

for i in range(0,10):
    print(a)
    a, b = b, a + b
#     a = b
#     b = a + b

0
1
1
2
3
5
8
13
21
34

In [62]:

# while loop example
%timeit i = 1
while i <=10:
    print(i)
    i += 1

13.9 ns ± 0.634 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)
9
10

In [27]:
# conditionals
def number_comparison(a,b):
    if a < b:
        print("{} is less than {}".format(a,b))
    elif a == b:
        print("{} is equal to {}".format(a,b))
    else:
        print("{} is greater than {}".format(a,b))

In [31]:
number_comparison(3,2)

3 is greater than 2

In [36]:
# goes into given directory and prints out given file type

import os, glob

os.chdir('/Users/jiffy/Downloads')
for file in glob.glob('*.pdf'):
    print(file)

algebra-ii-m4-topic-c-lesson-12-teacher.pdf
Preparing for Data Science Interviews - Towards Data Science.pdf
Jeff Hutchins Resume dec 2019.pdf
Jury Duty Letter for Jeffrey Hutchins.pdf
Data Science 1x1 - Bayes Cohort (1).pdf
Justin Tobler - USAA.pdf
Jeff Hutchins Resume.pdf
How to Succeed at Codeup - Data Science.pdf
Business Cards.pdf
honeywellmonthlyenergyreportexamplepdf.pdf
Jeff_Hutchins_pdf_Resume.pdf
Jeff Hutchins - Resume.pdf
Jeff Hutchins Resume 2019.pdf

In [82]:
# Lists
my_list = [10,20,30,40,50]

for i in my_list:
    print(i)

10
20
30
40
50

In [84]:
my_tup = (1,2,3,4,5,6,7,8,9,10)
for i in my_tup:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [91]:
my_dict = {'name': 'Bronx', 'age': '2', 'occupation': "Corey's Dog"}
for key,val in my_dict.items():
    print(key, val)

name Bronx
age 2
occupation Corey's Dog

In [126]:
list(my_dict.items())

[('name', 'Bronx'), ('age', '2'), ('occupation', "Corey's Dog")]

In [131]:
my_dict.items()

dict_items([('name', 'Bronx'), ('age', '2'), ('occupation', "Corey's Dog")])

In [94]:
my_set = {10,20,30,40,50,10,20,30,40,50}
for i in my_set:
    print(i)

40
10
50
20
30

In [99]:
# List Comprehension
# give me a list that is the square of a number of each number less than or equal to 5 in the original list 
my_list = [1,2,3,4,5,6,7,8,9,10]

squares = [number*number for number in my_list if number <= 5]
print(squares)

[1, 4, 9, 16, 25]

In [121]:
# Generators

def fibonacci(number):
# Fibonacci Sequence
    a, b = 0, 1

    for i in range(0, number):
        yield "{}: {}".format(i+1, a)
        a,b =b, a+b
        
for item in fibonacci(10):
    print(item)

1: 0
2: 1
3: 1
4: 2
5: 3
6: 5
7: 8
8: 13
9: 21
10: 34

In [149]:
# Classes

class person(object):
    def __init__(self, name):
        self.name = name

    def reveal_identity(self):
        print("My name is {}".format(self.name))
          
# class super_hero(person):

In [145]:
corey = person('corey')

In [146]:
corey.reveal_identity()

My name is corey

In [151]:
# more list comprehensions

my_list = [number*number for number in [1,2,3,4,5]]
my_list

[1, 4, 9, 16, 25]

In [155]:
# how to use enumerate

cities = ['Marseille', 'Amsterdam', 'New York', 'London']

i = 0 
for city in cities:
    print(i, city)
    i += 1
    
for i, city in enumerate(cities):
    print(i, city)

0 Marseille
1 Amsterdam
2 New York
3 London